.highlighted-novel {
  &__container {
    height: 40rem;
    overflow: hidden;
    width: 100%;
    position: relative;
    display: flex;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__title {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5rem;
    gap: 20px;
    flex-direction: column;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);

    h1 {
      font-size: 5rem;
      color: red;
      margin: 0px;
      font-family: 'Dirtyboy', sans-serif;
    }

    p {
      margin: 0px;
      font-size: 20px;
      color: white;
    }
  }
}
