.home {
  &-container {
    max-width: 1024px;
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    main {
      flex: 1;

      .title {
        font-weight: 300;
        color: burlywood;
        font-size: 2rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
          sans-serif;
        padding: 0.8rem 0rem;
      }
    }
  }
}
