@use './components/Header/header';
@use './components/HighlightedNovel/highlighted-novel';
@use './components/Footer/footer';
@use './components/NovelJustRead/novel_just_read';
@use './components/Suggestion/suggestion';
