@import '../../mixins';

.novel-just-read {
  &__item {
    // padding: 1rem 1rem;
    // height: 2.6rem;
    gap: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;

    @include desktop {
      display: flex;
      align-items: center;
      padding: 1rem 0rem;
    }

    @include phone-and-tablet {
      padding: 0.8rem 1.2rem;
    }

    &--header {
      display: flex;
      align-items: center;
      flex: 1;

      span {
        font-weight: 300;
        font-size: 1.3rem;
        flex: 1;
        margin: 0px;
      }

      h3 {
        flex: 5;
        font-weight: 600;
        font-size: 1.5rem;
        margin: 0px;
      }

      @include phone-and-tablet {
        span {
          display: none;
        }
      }
    }

    &--detail {
      justify-content: space-between;
      display: flex;
      align-items: center;

      p {
        font-size: 1.4rem;
        color: gray;
        font-weight: 300;
        margin: 0px;
      }

      button {
        margin-left: 5rem;
        background-color: white;
        border: 0.1rem solid #b78a27;
        border-radius: 0.5rem;
        color: #b78a27;
        height: 2.5rem;
        width: 2.5rem;
        cursor: pointer;
      }
    }
  }
}
